{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div class="col-md-12 d-flex justify-content-center">
        <div class="card-body card-connect col-md-6">
            <div class="d-flex justify-content-center col-md-12">
                <div class="d-flex justify-content-center">
                    <h1>Bienvenue chez Bike à linge !</h1>
                </div>
{#                <img src="{{ asset('build/logo.jpg') }}" alt="Logo" class="logo">#}
            </div>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <label for="inputEmail"></label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control col-md-12 "
                               required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <label for="inputPassword" ></label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control col-md-12"
                               required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <i class="fas fa-key"></i>
                            <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié</a>
                        </div>
                        <div class="row">
                            <i class="fas fa-user-plus"></i>
                            <a href="{{ path('app_register') }}">Créer un compte
                            </a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-connect">
                    Login
                </button>
            </form>
        </div>
    </div>
{% endblock %}