{% extends 'base.html.twig' %}

{% block title %}Clothe index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center d-inline-block">
        <h1>Contenu de la commande</h1>
    </div>
    <div class="clothe-form">
        <form action="{{ path('order_index') }}">
            <div class="container d-flex justify-content-around col-md-12">
                <div class="col-md-4 card-body card-clothe">

                    <div class="title-clothe">
                        <h2>Adultes</h2>
                    </div>
                    {% for clothe in clothes %}
                        <ul>
                            <li class="clothe-title">{{ clothe.title }}</li>
                            <label>
                                <input type="number" min="1" max="100" value="1"/>
                            </label>
                        </ul>
                    {% endfor %}
                </div>
                <div class="col-md-4 card-body card-clothe">
                    <div class="title-clothe">
                        <h2>Enfants</h2>
                    </div>
                    {% for clothe in clothes %}
                        <ul>
                            <li class="clothe-title">{{ clothe.title }}</li>
                            <label>
                                <input type="number" min="1" max="100" value="1"/>
                            </label>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <label for="">
                    <style>.btn {
                            background-color: #B2562D;
                            color: white;
                        !important;
                        }</style>
                    <button type="submit" class="btn">Suivant</button>
                </label>
            </div>
        </form>
    </div>







    {#<h1>Clothe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Composition</th>
                <th>WeightAdult</th>
                <th>WeightChild</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clothe in clothes %}
            <tr>
                <td>{{ clothe.id }}</td>
                <td>{{ clothe.title }}</td>
                <td>{{ clothe.composition }}</td>
                <td>{{ clothe.weightAdult }}</td>
                <td>{{ clothe.weightChild }}</td>
                <td>
                    <a href="{{ path('clothe_show', {'id': clothe.id}) }}">show</a>
                    <a href="{{ path('clothe_edit', {'id': clothe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clothe_new') }}">Create new</a>#}
{% endblock %}
